*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    height: 20px;
}


.input_Search{
    width: 50%;
    height: 45px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_search{
    width: 200px;
    height: 46px;
    border: navajowhite;
    background: gainsboro;
}

/* Cor padrão da tabela */
.default-table {
    background-color: white;
    color: black;
}

/* Cor alternativa da tabela */
.alternative-table {
    background-color: #0d1421;
    color: white;
}

.default-background {
    background-color: #f0f0f0;
}

/* Cor alternativa de fundo */
.alternative-background .moeda-detalhes {
    background-color: #0d1421;
    color: white;
}

 /* Estilo para o modo claro */
 body.light-mode {
    background-color: white;
    color: black;
}

.light-mode .table {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
}

.light-mode .table th,
.light-mode .table td {
    border: 1px solid #ccc;
    background-color: white;
    color: black;
}

/* Estilo para o modo escuro */
body.dark-mode {
    background-color: #0d1421;
    color: white;
}

.dark-mode .table {
    background-color: #1e1e1e;
    color: white;
    border: 1px solid #333;
}

.dark-mode .table th,
.dark-mode .table td {
    border: 1px solid #333;
    background-color: #0d1421;
    color: white;
}

/* Estilo para os links em modo escuro */
.dark-mode a {
    color: white;
}
 
.icons {
    margin-left: 10px; /* Adiciona espaço à esquerda do ícone */
}

.table{
    text-align: center;
}