*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    height: 20px;
}


.input_Search{
    width: 50%;
    height: 45px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_search{
    width: 200px;
    height: 46px;
    border: navajowhite;
    background: gainsboro;
}

/* Cor padrão da tabela */
.default-table {
    background-color: white;
    color: black;
}

/* Cor alternativa da tabela */
.alternative-table {
    background-color: black;
    color: white;
}

.default-background {
    background-color: #f0f0f0;
}

/* Cor alternativa de fundo */
.alternative-background .moeda-detalhes {
    background-color: black;
    color: white;
}

.icons {
    margin-left: 10px; /* Adiciona espaço à esquerda do ícone */
}