*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color-light: #ffffff;
    --background-color-dark: #2c2c2c;
    --text-color-light: #000000;
    --text-color-dark: #ffffff;
}

body.light-mode {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

button {
    margin: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: #f2f2f2;
}

.light-mode .table th {
    background-color: #f2f2f2;
}

.dark-mode .table th {
    background-color: #4d4d4d;
}

img{
    height: 20px;
}

.input_Search{
    width: 80%;
    height: 45px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_search{
    width: 200px;
    height: 46px;
    border: navajowhite;
    background: gainsboro;
}

